// Variable overrides first
// Colors: #7a0019, #ffcc33
$primary: #7a0019;
$secondary: $primary;
$hr-color: $primary;
$hr-opacity: .75;
$modal-header: $primary;
$btn-close-color: $primary;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
